[Unit]
Description=PLight - dynamic backlighting
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/plight
Restart=always

[Install]
WantedBy=default.target
